.product-variant-picker {
  .variant-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    transition: 0.1s;
    height: 40px;
    padding-inline: 1.5em;

    &:has(input:checked) {
      color: white;
      background: #333;
    }

    &:has(input:disabled),
    &:has(input[data-available="false"]) {
      opacity: 0.6;
      text-decoration: line-through;
    }

    input {
      display: none;
    }
  }
}