.relative {
  position: relative;
}

.pagination {
  padding: 10px 0;

  .pagination__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.nav{
  font-weight: bold;
  .nav-item {
    &[data-active="true"],
    &:hover {
      border-bottom: 1px solid #333;
    }
  }
}

.svg-wrapper {
  color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 1em;
  height: 1em;
}

.quantity {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:has(input:focus) {
    border-color: #409eff;
    box-shadow: 0 0 0 2px rgba(64, 158, 255, 0.2);
  }

  .quantity__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5em;
    background: transparent;

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .quantity__input {
    text-align: center;
    width: auto;
    min-width: 0;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
  }
}

.product-variant-picker {
  fieldset {
    label {
      display: inline-block;
      color: #333333;
      background: white;
      position: relative;
      padding: 0.25rem 1.5rem;
      border-radius: 1rem;
      border: 1px solid #333;
      cursor: pointer;

      input {
        display: none;
      }

      span {
        display: inline-block;
      }

      &:has(input[data-available="false"]) {
        cursor: not-allowed;

        span {
          color: #cccccc;
          text-decoration: line-through;
        }
      }

      &:has(input:checked[data-available="false"]) {
        span {
          color: #aaa !important;
        }
      }

      &:has(input:checked) {
        color: white;
        background: black;

      }
    }
  }
}