.pagination {
  padding: 10px 0;

  .pagination__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

nav.nav{
  .nav-item {
    &[data-active] {
      border-bottom: 1px solid #333;
    }
  }
}