:root {
  --icon-stroke-width: 1.5
}

.relative {
  position: relative;
}

.svg-icon {
  display: inline-block;
  margin-top: 2px;
  svg {
    width: 1em;
    height: 1em;
  }
}

button {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  gap: 0.375em;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  transition: 0.1s;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;

  .pagination-item {
    width: 2em;
    height: 2em;
    color: #1c1f23;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background: #f5f5f5;
    }

    &.pagination-item-active {
      color: #0064fa;
      background: #eaf5ff;
    }

    &:disabled,
    &.disabled {
      cursor: not-allowed;
      background: transparent;

      a {
        pointer-events: none;
      }
    }
  }
}


.nav{
  font-weight: bold;
  .nav-item {
    border-bottom: 1px solid transparent;
    &[data-active="true"],
    &:hover {
      border-color: #333;
    }
  }
}

.svg-wrapper {
  color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 1em;
  height: 1em;
}

.quantity-editor {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:has(input:focus) {
    border-color: #409eff;
    box-shadow: 0 0 0 2px rgba(64, 158, 255, 0.2);
  }

  .quantity-editor__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .75em;
    background: transparent;

    &:active {
      transform: scale(.95);

      &:disabled {
        transform: none;
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }

  .quantity-editor__input {
    text-align: center;
    width: 2.5em;
    min-width: 0;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
  }
}

.product-variant-picker {
  fieldset {
    label {
      display: inline-block;
      color: #333333;
      background: white;
      position: relative;
      padding: 0.25rem 1.5rem;
      border-radius: 1rem;
      border: 1px solid #333;
      cursor: pointer;

      input {
        display: none;
      }

      span {
        display: inline-block;
      }

      &:has(input[data-available="false"]) {
        cursor: not-allowed;

        span {
          color: #cccccc;
          text-decoration: line-through;
        }
      }

      &:has(input:checked[data-available="false"]) {
        span {
          color: #aaa !important;
        }
      }

      &:has(input:checked) {
        color: white;
        background: black;

      }
    }
  }
}

cart-info {
  table {
    width: 100%;

    th {
      border-bottom: 1px solid #333;
    }

    .cart-item__image {
      width: 110px;
    }

    .cart-item__info {
      text-align: left;
    }

    .cart-item__quantity {
      text-align: center;
    }

    .cart-item__total {
      text-align: right;
    }

    .cart-item__options {
      .cart-item__option {
        display: flex;
      }
    }

    tbody  {
      td {
        padding-top: 1em;
        vertical-align: top;
      }
    }
  }
}