.relative {
  position: relative;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}
.pagination .pagination-item {
  width: 2em;
  height: 2em;
  color: #1c1f23;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.pagination .pagination-item a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.pagination .pagination-item:hover {
  background: #f5f5f5;
}
.pagination .pagination-item.pagination-item-active {
  color: #0064fa;
  background: #eaf5ff;
}
.pagination .pagination-item:disabled, .pagination .pagination-item.disabled {
  cursor: not-allowed;
}
.pagination .pagination-item:disabled:hover, .pagination .pagination-item.disabled:hover {
  background: transparent;
}
.pagination .pagination-item:disabled a, .pagination .pagination-item.disabled a {
  pointer-events: none;
}

.nav {
  font-weight: bold;
}
.nav .nav-item {
  border-bottom: 1px solid transparent;
}
.nav .nav-item[data-active=true], .nav .nav-item:hover {
  border-color: #333;
}

.svg-wrapper {
  color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 1em;
  height: 1em;
}

.quantity-editor {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.quantity-editor:has(input:focus) {
  border-color: #409eff;
  box-shadow: 0 0 0 2px rgba(64, 158, 255, 0.2);
}
.quantity-editor .quantity-editor__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.75em;
  background: transparent;
}
.quantity-editor .quantity-editor__button:active {
  transform: scale(0.95);
}
.quantity-editor .quantity-editor__button:active:disabled {
  transform: none;
}
.quantity-editor .quantity-editor__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.quantity-editor .quantity-editor__input {
  text-align: center;
  width: 2.5em;
  min-width: 0;
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.product-variant-picker fieldset label {
  display: inline-block;
  color: #333333;
  background: white;
  position: relative;
  padding: 0.25rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid #333;
  cursor: pointer;
}
.product-variant-picker fieldset label input {
  display: none;
}
.product-variant-picker fieldset label span {
  display: inline-block;
}
.product-variant-picker fieldset label:has(input[data-available=false]) {
  cursor: not-allowed;
}
.product-variant-picker fieldset label:has(input[data-available=false]) span {
  color: #cccccc;
  text-decoration: line-through;
}
.product-variant-picker fieldset label:has(input:checked[data-available=false]) span {
  color: #aaa !important;
}
.product-variant-picker fieldset label:has(input:checked) {
  color: white;
  background: black;
}

cart-info table {
  width: 100%;
}
cart-info table th {
  border-bottom: 1px solid #333;
}
cart-info table .cart-item__image {
  width: 110px;
}
cart-info table .cart-item__info {
  text-align: left;
}
cart-info table .cart-item__quantity {
  text-align: center;
}
cart-info table .cart-item__total {
  text-align: right;
}
cart-info table .cart-item__options .cart-item__option {
  display: flex;
}
cart-info table tbody td {
  padding-top: 1em;
  vertical-align: top;
}

/*# sourceMappingURL=taoism.css.map */
