button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.375em;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  transition: 0.1s;

  &:hover {
    opacity: 0.85;
  }

  &.disabled,
  &:disabled {
   * {
     pointer-events: none;
   }
  }
}